*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

html{

    scroll-behavior: smooth;

}

body
{
    background: #383838;
    color: #E8EBF7;

}
/* Nav */

#nav {
    background-color: #282828;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    cursor: default;
    height: 3.5em;
    line-height: 3.5em;
}

    #nav ul {
        margin-bottom: 0;
        list-style: none;
        padding-left: 0;
    }

    #nav li {
        display: inline-block;
        padding-left: 0;
    }

    #nav a {
        -moz-transition: background-color .2s ease-in-out;
        -webkit-transition: background-color .2s ease-in-out;
        -ms-transition: background-color .2s ease-in-out;
        transition: background-color .2s ease-in-out;
        position: relative;
        display: block;
        color: #fff;
        text-decoration: none;
        outline: 0;
        font-weight: 600;
        border-radius: 8px;
        color: #fff;
        height: 2.5em;
        line-height: 2.5em;
        padding: 0 1.25em;
    }

        #nav a:hover {
            color: #fff !important;
            background: #383838;
        }

        #nav a.active {
            background: #484848;
        }

            #nav a.active:before {
                content: '';
                display: block;
                position: absolute;
                bottom: -0.6em;
                left: 50%;
                margin-left: -0.75em;
                border-left: solid 0.75em transparent;
                border-right: solid 0.75em transparent;
                border-top: solid 0.6em #282828;
            }


.container{

    padding: 10px 10%;
    position: relative;


}

.about{
    width: 100%;
    padding: 100px;

}
.about-text{
    width: 550px;

}
.about img{

    height: auto;
    width: 430px;
}
.main{

    width:1130px;
    max-width: 95%; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.about-text h2{
    color:#E8EBF7;
    font-size: 70px;
    text-transform: uppcase;
    margin-bottom: 20px;

}
.about-text p{

    color: #E8EBF7;
    letter-spacing: 1px;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 20px;

}


 .btn{

    display: block;
    margin-bottom: 50px;
    margin-left: 45%;
    width: fit-content;
    border: 1px solid #E8EBF7;
    background:  #383838;
    padding: 20px 50px;
    border-radius: 5px;
    text-decoration: none;
    color: #E8EBF7;
    transition: transform 0.5s;
    
}

.btn:hover{

    border: 1px solid #65A2FF;
    background-color:#65A2FF;
    text-shadow: 2px 3px 15px rgb(22, 5, 5);
    color:#E8EBF7;
    transform: translateY(-20px);
    box-shadow: 2px 2px #8888;

}
nav .fa-solid{

    display: none;
}

@media (max-width: 600px)
{

    .about{
        padding: auto;
    
    }
    .about img{
       
        width: 200px;
        margin-bottom: 600%;
    }

    .about-text{

        padding: 20px;
        

    }
    .about-text h2{
        font-size: 32px;
        
         
          

    }
    
    .about-text p{

    font-size: 16px;
    margin: auto;

    }
   
    .btn{

        margin: auto;
        font-size: 14px;

    }

    
    #nav {
        height: 44px;
        line-height: 44px;
    }
    
        #nav a {
            padding: 0 0.75em;
            height: inherit;
            line-height: inherit;
            border-radius: 0;
        }
    
            #nav a:hover {
                background-color: transparent;
            }
        


}










