*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

html{

    scroll-behavior: smooth;

}

body
{
    background: #383838;
    color: #E8EBF7;

}


nav{
    
    margin-left: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    

}



nav ul li {

display: inline-block;
list-style-type: none;
margin: 10px 30px;

}

nav ul li a{
    color: #E8EBF7;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    text-transform: capitalize;

}


nav ul li a:hover{
    color:#65A2FF;
    transition: 0.3s;

}

.section{
    width: 100%;
    min-height: 100vh;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{

    float: left;
    width: 55%;

}
.image-section{
    float: right;
    width: 40%;

}
.image-section img{
    width: 100%;
    height: auto;

}
.content-section .title{
text-transform: uppercase;
font-size: 28px;

}
.content-section .content h3{
    font-size: 26px;
    margin-top: 30px;
    color: #E8EBF7;

}
.content-section .content p{
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.5;

}

.btn{

    display: block;
    margin-bottom: 50px;
    margin-left: 45%;
    width: fit-content;
    border: 1px solid #E8EBF7;
    background:  #383838;
    padding: 20px 50px;
    border-radius: 5px;
    text-decoration: none;
    color: #E8EBF7;
    transition: transform 0.5s;
    
}

.btn:hover{

    border: 1px solid #65A2FF;
    background-color:#65A2FF;
    text-shadow: 2px 3px 15px rgb(22, 5, 5);
    color:#E8EBF7;
    transform: translateY(-20px);
    box-shadow: 2px 2px #8888;

}








