*{

margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
box-sizing: border-box;


}

html{

    scroll-behavior: smooth;

}

footer{
    display: block;
}

footer {
    margin: 3em 0 0 0;
    
}

    footer > p {
        font-size: 1.25em;
    }

body
{
    
    background: #383838;
    color: #E8EBF7;
    

}


.container {
    margin: 0 auto;
    max-width: calc(100% - 50px);
    width: 1200px;
}

    .container.medium {
        width: 900px;
    }

    @media screen and (max-width: 1680px) {

        .container {
            width: 1200px;
        }

            .container.medium {
                width: 900px;
            }

    }

    @media screen and (max-width: 1280px) {

        .container {
            width: 960px;
        }

            .container.medium {
                width: 720px;
            }

    }

    @media screen and (max-width: 980px) {

        .container {
            width: 100%;
        }

            .container.medium {
                width: 75%;
            }

    }

    @media screen and (max-width: 736px) {

        .container {
            width: 100%;
            max-width: calc(100% - 30px);
        }

            .container.medium {
                width: 100%;
            }

    }
.content{

    width: 100%;
    padding: 50px 0px;


}

header {
    margin: 0 0 3em 0;
}

    header > p {
        font-size: 1.25em;
        margin: 0;
    }

.content img{
    height: auto;
    width: 350px;
    position: absolute;
    top: 10%;
    left: 10%;
    margin: auto;
    display: flex;
    align-items: center;
}
.introduction{

    width: 1000px;
    right: 50%;
    
}
.about{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.introduction h2{
    font-size: 48px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 30%;


}
.introduction h4{

    letter-spacing: 1px;
    font-size:  28px;
    text-align: left;
    margin-left: 30%;
    font-weight: bold;
    text-transform: capitalize;
    

}
.introduction h5{

    color:#65A2FF;
    font-size: 20px;
    text-align: left;
    margin-left: 30%;
    text-transform: bold;
    margin-top: 50px;
    
    


}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    background-image: url("images/bg.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: url("images/bg.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: url("images/bg.png"), -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: url("images/bg.png"), linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
    background-color: #43B3E0;
    padding: 1em 2.35em 1em 2.35em;
    font-size: 1.1em;
    max-width: 24em;
}

    input[type="button"]:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    button:hover,
    .button:hover {
        background-color: #43bff0;
        color: #fff !important;
    }

    input[type="button"]:active,
    input[type="submit"]:active,
    input[type="reset"]:active,
    button:active,
    .button:active {
        background-color: #3BA8D3;
        top: 1px;
    }

    input[type="button"].large,
    input[type="submit"].large,
    input[type="reset"].large,
    button.large,
    .button.large {
        font-size: 1.5em;
        letter-spacing: -0.025em;
    }

    input[type="button"].alt,
    input[type="submit"].alt,
    input[type="reset"].alt,
    button.alt,
    .button.alt {
        background-color: #444;
        box-shadow: inset 0px 0px 0px 1px #242424, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.2);
    }

        input[type="button"].alt:hover,
        input[type="submit"].alt:hover,
        input[type="reset"].alt:hover,
        button.alt:hover,
        .button.alt:hover {
            background-color: #4f4f4f;
            color: #fff !important;
        }

        input[type="button"].alt:active,
        input[type="submit"].alt:active,
        input[type="reset"].alt:active,
        button.alt:active,
        .button.alt:active {
            background-color: #3f3f3f;
        }


/* Nav */

#nav {
    background-color: #282828;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    cursor: default;
    height: 3.5em;
    line-height: 3.5em;
}

    #nav ul {
        margin-bottom: 0;
        list-style: none;
        padding-left: 0;
    }

    #nav li {
        display: inline-block;
        padding-left: 0;
    }

    #nav a {
        -moz-transition: background-color .2s ease-in-out;
        -webkit-transition: background-color .2s ease-in-out;
        -ms-transition: background-color .2s ease-in-out;
        transition: background-color .2s ease-in-out;
        position: relative;
        display: block;
        color: #fff;
        text-decoration: none;
        outline: 0;
        font-weight: 600;
        border-radius: 8px;
        color: #fff;
        height: 2.5em;
        line-height: 2.5em;
        padding: 0 1.25em;
    }

        #nav a:hover {
            color: #fff !important;
            background: #383838;
        }

        #nav a.active {
            background: #484848;

        }
       

            #nav a.active:before {
                content: '';
                display: block;
                position: absolute;
                bottom: -0.6em;
                left: 50%;
                margin-left: -0.75em;
                border-left: solid 0.75em transparent;
                border-right: solid 0.75em transparent;
                border-top: solid 0.6em #282828;
            }



/*-----CV-----*/
.btn{

    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 30%;
    width: fit-content;
    border: 5px solid #E8EBF7;
    background:  #383838;
    padding: 50px 150px;
    border-radius: 10px;
    text-decoration: none;
    color: #E8EBF7;
    transition: transform 0.5s;
    
}

.btn:hover{

    border: 1px solid #65A2FF;
    background-color:#65A2FF;
    color:#E8EBF7;
    transform: translateY(-20px);
    box-shadow: 2px 2px #8888;

}


/*-------projects-------*/
#projects{

    padding-top: 100px;


}

.work-list{

display: grid;
grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
grid-gap: 50px;
margin-top: 10px;


}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

b, strong {
    font-weight: 600;
    color: #E8EBF7;
}

.work img{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    display: block;
    opacity: 1;
    transition: transform 0.5s;

}
.work:hover img{

    transform: translateY(-10px);
    opacity: 0.5;
    

}



.description{
    
    position: relative;
    padding-left: 40%;
    
}


/*-----contact------- */

.sub-title{
border-top: 5px solid #bbb;


}
.contact-info p{


    margin-top: 30px;
    font-size: 26px;
    margin-right: 100px;
    
    
    
}



.social{

margin-top: 30px;


}



.social a{
    
    text-decoration: none;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 30px;
    color:#A5C9FF;
    display: inline-block;
    transition: transform 0.5s;    



}
.social a:hover,
.social a:active,
.fa a:focus{

    color:#65A2FF;
    text-shadow: 2px 3px 15px rgb(22, 5, 5);
    transform: translateY(-10px);


}

.copyright{
    
    text-decoration: none;
    margin-top: 20px;
    width: 100%;
    text-align:center;
    font-size: 20px;

}


/*-----Row------- */

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
}

    .row > * {
        box-sizing: border-box;
    }

    .row.gtr-uniform > * > :last-child {
        margin-bottom: 0;
    }

    .row.aln-left {
        justify-content: flex-start;
    }

    .row.aln-center {
        justify-content: center;
    }

    .row.aln-right {
        justify-content: flex-end;
    }

    .row.aln-top {
        align-items: flex-start;
    }

    .row.aln-middle {
        align-items: center;
    }

    .row.aln-bottom {
        align-items: flex-end;
    }

    .row > .imp {
        order: -1;
    }

    .row > .col-1 {
        width: 8.33333%;
    }

    .row > .off-1 {
        margin-left: 8.33333%;
    }

    .row > .col-2 {
        width: 16.66667%;
    }

    .row > .off-2 {
        margin-left: 16.66667%;
    }

    .row > .col-3 {
        width: 25%;
    }

    .row > .off-3 {
        margin-left: 25%;
    }

    .row > .col-4 {
        width: 33.33333%;
    }

    .row > .off-4 {
        margin-left: 33.33333%;
    }

    .row > .col-5 {
        width: 41.66667%;
    }

    .row > .off-5 {
        margin-left: 41.66667%;
    }

    .row > .col-6 {
        width: 50%;
    }

    .row > .off-6 {
        margin-left: 50%;
    }

    .row > .col-7 {
        width: 58.33333%;
    }

    .row > .off-7 {
        margin-left: 58.33333%;
    }

    .row > .col-8 {
        width: 66.66667%;
        
    }

    .row h1{
        margin-top: 10%;
        font-size: 56px;
    }
    .row h5{
        font-size: 32px;
        color: #65A2FF;

    }

    .row > .off-8 {
        margin-left: 66.66667%;
    }

    .row > .col-9 {
        width: 75%;
    }

    .row > .off-9 {
        margin-left: 75%;
    }

    .row > .col-10 {
        width: 83.33333%;
    }

    .row > .off-10 {
        margin-left: 83.33333%;
    }

    .row > .col-11 {
        width: 91.66667%;
    }

    .row > .off-11 {
        margin-left: 91.66667%;
    }

    .row > .col-12 {
        width: 100%;
    }

    .row > .off-12 {
        margin-left: 100%;
    }

    .row.gtr-0 {
        margin-top: 0px;
        margin-left: 0px;
    }

        .row.gtr-0 > * {
            padding: 0px 0 0 0px;
        }

        .row.gtr-0.gtr-uniform {
            margin-top: 0px;
        }

            .row.gtr-0.gtr-uniform > * {
                padding-top: 0px;
            }

    .row.gtr-25 {
        margin-top: -6.25px;
        margin-left: -6.25px;
    }

        .row.gtr-25 > * {
            padding: 6.25px 0 0 6.25px;
        }

        .row.gtr-25.gtr-uniform {
            margin-top: -6.25px;
        }

            .row.gtr-25.gtr-uniform > * {
                padding-top: 6.25px;
            }

    .row.gtr-50 {
        margin-top: -12.5px;
        margin-left: -12.5px;
    }

        .row.gtr-50 > * {
            padding: 12.5px 0 0 12.5px;
        }

        .row.gtr-50.gtr-uniform {
            margin-top: -12.5px;
        }

            .row.gtr-50.gtr-uniform > * {
                padding-top: 12.5px;
            }

    .row {
        margin-top: -25px;
        margin-left: -25px;
    }

        .row > * {
            padding: 25px 0 0 25px;
        }

        .row.gtr-uniform {
            margin-top: -25px;
        }

            .row.gtr-uniform > * {
                padding-top: 25px;
            }

    .row.gtr-150 {
        margin-top: -37.5px;
        margin-left: -37.5px;
    }

        .row.gtr-150 > * {
            padding: 37.5px 0 0 37.5px;
        }

        .row.gtr-150.gtr-uniform {
            margin-top: -37.5px;
        }

            .row.gtr-150.gtr-uniform > * {
                padding-top: 37.5px;
            }

    .row.gtr-200 {
        margin-top: -50px;
        margin-left: -50px;
    }

        .row.gtr-200 > * {
            padding: 50px 0 0 50px;
        }

        .row.gtr-200.gtr-uniform {
            margin-top: -50px;
        }

            .row.gtr-200.gtr-uniform > * {
                padding-top: 50px;
            }


            .wrapper {
                background-image: url("images/code.png");
                box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
                padding: 8em 0 8em 0;
                text-align: center;
            }
        
                .wrapper.style1 {
                    background-image: none;
                    background-color: #383838;
                    
                }
        


                        .image {
                            display: inline-block;
                            position: relative;
                        }
                    
                            .image img {
                                display: block;
                                width: 100%;
                            }
                    
                            .image.fit {
                                display: block;
                                width: 100%;
                            }
                    
                            .image.featured {
                                display: block;
                                width: 100%;
                                margin: 0 0 2em 0;
                            }
                    
                            .image.left {
                                float: left;
                                margin: 0 2em 2em 0;
                            }
                    
                            .image.centered {
                                display: block;
                                margin: 0 0 2em 0;
                            }
                    
                                .image.centered img {
                                    margin: 0 auto;
                                    width: auto;
                                }


@media (max-width: 600px) { 

    
    .content{

        padding: auto;

    }
    
    .content img{
        position: absolute;
        top: 10;
        left: 0;
        width: 20%;
        height: 20%;
        object-fit: cover;
        
    }

    .row h1{
        font-size: 32px;
    }
    .row h5{
       font-size: 12px; 
    }
    
   


    .introduction h2{
        font-size: 20px;
        
        margin: 10px; 
          

    }
    .introduction h4{

        font-size: 20px;

    }
    .introduction h5{

        font-size: 32px;
        margin-top: 20px;
       
    }
 


    .contact-info h1{

        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;


    }
    .contact-info p{

    
        margin-bottom: 20px;
        font-size: 20px;
        margin-right: 7px;
        
    }

    

   #nav {
    height: 44px;
    line-height: 44px;
}

    #nav a {
        padding: 0 0.75em;
        height: inherit;
        line-height: inherit;
        border-radius: 0;
    }

        #nav a:hover {
            background-color: transparent;
        }
    

   
}





